<script src="js/jquery.combinedScroll.js"></script>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container"><!-- <<< verwijder als je navigatie over de ganse breedte wenst -->
        <nav class="site-navigation page-navigation"> 
            <ul class="menu"> 
                <li class="menuitem"><a href="#top">Welkom</a></li> 
                <li class="menuitem"><a href="#section-one">Logo</a></li> 
                <li class="menuitem"><a href="#section-two">Kleur</a></li> 
                <li class="menuitem"><a href="#section-three">Typo</a></li>
                 <li class="menuitem"><a href="#section-four">Four</a></li>
                  <li class="menuitem"><a href="#section-five">Five</a></li>
                 </ul>
                 </nav>
    </div><!-- /div.container -->
</nav>