/* Navigation
---------------------------------------------
*/

*{
  max-width:100vw;
}
.link-1 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-1:hover {
  background-color: #ffffff;
  color: lightgrey;
  padding: 24px 10px;
  text-decoration: none;
}
a:active { 
  background-color: lightgrey;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 40px;
}

.logobanner{
  position: relative;
  top:-15px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .navbar-fixed-top{
    padding-right: 40px;
    margin: 0px; 
  }

  .logobanner{
    position: relative;
    top:0px;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar{
  background-color: white;
  overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 9;    
    display: inline;
}
.navbar a {
    border: none;
    color:  rgb(103, 19, 20);
    display: inline;
  }

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  .topnav {
    background-color: white;
    overflow: hidden;
}


/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* Index.html
---------------------------------------------
*/

.header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding-top: 262px;
  padding-bottom: 262px;
  padding-right: 60px;
  text-align: right;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 3px;
  background-color:rgb(103, 19, 20);
}

.welkom{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(103, 19, 20);
  padding-top: 255px;
  padding-bottom: 255px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 60px;
}

.logo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding-top: 255px;
  padding-bottom: 255px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 60px;
}

.logo1{
  width: 100%;
}

.typo{
  width: 86%;
  padding-top: 100px;
}

.typo2{
  width: 70%;
  margin: 0;
  padding-top: 100px;
}

.roboto{
  width: 120%;
  padding-top: 50px;

}

.doorlopend{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 15px;
  padding-top: 220px;
  
}

.logo100{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black(103, 19, 20);
  font-size: 15px;
  padding-left: 60px;
  padding-right: 60px;

}

.logo10{
  width: 100%;
  padding-bottom: 60px;
  margin-top: -40px;
}

.tov{
 width: 100%;
 margin-top:-200px;
 margin-bottom:-30px;
 margin-left: -60px;
}

.doorlopendrood{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black(103, 19, 20);
  font-size: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

.doorlopendroodop{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black(103, 19, 20);
  font-size: 15px;
  padding-top: 165px; 
}

  .logofoto{
    width:100%;
    background-color:white;
  }

  .roodbolletje{
    letter-spacing: 1px;
    font-size: 16pt;
    &:before {
      color: white;
    }
  }

  .insprong{
    padding-left: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
  }

  .ondertitel{
    font-size: 14pt;
    color: rgb(103, 19, 20);
    padding-bottom: 10px;

  }

  .ondertitellayout{
    padding-top: 190px;
    font-size: 14pt;
    color: rgb(103, 19, 20);
    padding-bottom: 10px;
  }
  .typouitleg{
    padding-top: 30px;
    font-size: 14pt;
    color: rgb(103, 19, 20);
    padding-bottom: 10px; 
  }

  .web{
    width: 100%;
   padding-left: 50px;
   padding-top: 40px;
  }

  .volvlak{
    width: 90%
  }
  
  .foto{
    text-align: center;
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  
/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    text-align: center;
    background-color: lightgrey;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}


@media screen and (max-width: 600px) {
  .logobanner{
    width:100%
  }
}

@media screen and (max-width: 700px) {
  .mobile{
    width: 100%
  }
}

@media screen and (max-width: 700px) {
  .navbar{
    padding-top: 20px;
    padding-bottom:80px;
    padding-left: -20px;
    color: none; 
  }
}

@media screen and (max-width: 700px) {
  .header{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 60px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color:rgb(103, 19, 20);
  }
}

@media screen and (max-width: 700px) {
  .doorlopend{
    width: 500px;
    height:500px;
    padding: 0px;
    padding-top: 200px;
    padding-left: 60px;
 
  }

  .doorlopendrood{
    width: 500px;
    height:500px;
    padding: 0px;
    padding-top: 200px;
    padding-left: 60px;
 
  }

  .roodbolletje{
    padding: 0px;
  }
  }

  .welkom{
    width: 500px;
  height:500px;
  padding: 0px;
  padding-top: 200px;
  padding-left: 60px;
  
.logo10{
  padding-top: 200px;
  }

.logo{
  width: 500px;
  height:500px;
  padding: 0px;
  padding-top: 200px;
  padding-left: 60px;
}


}

