/* Navigation
---------------------------------------------
*/
.navbar{
  background-color: white;
  overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 9;    
    display: inline;
}
.navbar a {
    border: none;
    color:  rgb(103, 19, 20);
    display: inline;
  }
  .logoitem{
    display: inline;
  }
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}
.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
.navbar-nav{
  display: inline;
  padding: 20px;
  padding-top: 30px;
}
.logobanner{
  padding-left:40px;
}


#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  .topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* Index.html
---------------------------------------------
*/

.header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding-top: 262px;
  padding-bottom: 262px;
  padding-right: 60px;
  text-align: right;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 3px;
  background-color:rgb(103, 19, 20);
}

.welkom{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(103, 19, 20);
  padding-top: 255px;
  padding-bottom: 255px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 60px;
}

.logo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding-top: 255px;
  padding-bottom: 255px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 60px;
}

.logo1{
  width: 100%;
}

.typo{
  width: 86%;
  padding-bottom: 50px;
  margin: 0
}

.typo2{
  width: 80%;
  padding-bottom: 50px;
  margin: 0
}

.roboto{
  width: 100%;
  padding-top:100px;
}

.doorlopend{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 60px;
  padding-right: 60px;
}
.logo100{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black(103, 19, 20);
  font-size: 15px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px; 
}

.logo10{
  width: 100%;
  padding-bottom: 60px;
  margin-top: -40px;
}

.tov{
  width: 570px;
  height: 500px;
 margin-top:-200px;
 margin-bottom:-30px;
 margin-left: -60px;

}


.doorlopendrood{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black(103, 19, 20);
  font-size: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

  .logofoto{
    width:100%;
    background-color:white;
  }
  
/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}


@media screen and (max-width: 600px) {
  .logobanner{
    padding-left:40px;
    width:60%
  }

}

@media screen and (max-width: 700px) {
  .mobile{
    width: 100%
  }

}
